---
import type { CollectionEntry } from "astro:content";
import type { HTMLTag, Polymorphic } from "astro/types";
import FormattedDate from "@/components/FormattedDate";
import { Icon } from 'astro-icon/components';

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"blog" | "project">;
	withDesc?: boolean;
};

const { post, withDesc = false } = Astro.props;
const postDate = post.data.updatedDate ?? post.data.pubDate;
const pinned: boolean = !!post.data.order;
const urlBasePath = post.collection === "project" ? "projects" : post.collection;
---

<li>
	<span>
		<a href={`/${urlBasePath}/${post.slug}/`} class="post-item" rel="author">
			<h4 class="cody-link inline font-bold font-serif" >{post.data.title}</h4>
		</a>
		{ pinned &&
			<Icon 
				class="h-5 w-5 inline text-accent rotate-45 -ml-1" 
				name="ph:push-pin" 
				aria-hidden="true" 
				focusable="false"
			/>
		}		
	</span>
	<div>
		<p class="date flex gap-2 flex-wrap inline-block mb-4">
			<FormattedDate date={postDate}/> 
		</p>

	</div>

	{withDesc && ( <p>{post.data.description}<a href={`/${urlBasePath}/${post.slug}/`} class="cody-link" rel="author">
	(...) continuar lendo
	</a>
</p> )}
	<hr/>	
</li>
<style>
	.post-item:before {
		content: "#";
		@apply text-accent-2;
	}	
</style>
