---
import type { CollectionEntry } from 'astro:content';
import Layout from '../layouts/Sidebar.astro';
import FormattedDate from '../components/FormattedDate.astro';
import SocialMediaLinks from '@/components/SocialMediaLinks';
import BackToTopBtn from '@/components/BackToTopBtn';
import CopyBtn from '@/components/CopyBtn';
import { Icon } from 'astro-icon/components';
import { siteConfig } from '../consts';

interface Props {
	post: CollectionEntry<"blog">;
}

const {post} = Astro.props

const {
	slug,
	data: {
		title,
		description,
		pubDate,
		updatedDate,
		heroImage,
		ogImage,
		tags,
		series,
		draft,
		comments,
	}
} = post;

const { headings, remarkPluginFrontmatter } = post.render && await post.render();
const { minutesRead } = remarkPluginFrontmatter;
const socialImage = ogImage ?? `/og-image/${slug}.png`;
const dateTimeOptions: Intl.DateTimeFormatOptions = {
	year: "numeric",
	month: "long",
	day: "numeric"
};

const articleDate = updatedDate?.toISOString() ?? pubDate.toISOString();


---

<Layout title={title} description={description} image={socialImage} articleDate={articleDate}>
  <aside slot="sidebar">
		<div class="flex flex-col space-y-2 mt-16 sm:mt-2  sticky top-0 pt-8 items-center justify-center">
      <span class="h-card hcard">
        <div class="mb-2 ml-2 order-first">
            <img src="/img/tiff.jpg" width="70px" class="u-photo rounded-full">
        </div>
        <div class="mb-2 ml-2">
            <span class="signature"><a rel="author"class="u-url u-uid" href="https://blog.tiffs.dev">{siteConfig.profile.author}</a></span>
        </div>
      </span>
      <SocialMediaLinks/>

    </div>
	</aside>	

	<div class="h-entry">
		<article class="cody-bg prose dark:prose-invert prose-cody text-textColor max-w-6xl">
			<header class="space-y-2">
				{series && (
					<div class="md:sr-only not-sr-only">
						<span>série:</span>
							<a class="cody-link" href={`/series/${series}`}>{series}</a>
					</div>
				)}
				<div class="flex gap-2 items-center">
					<h1 class="text-2xl my-0 font-serif p-name"><a class="u-url" href="">{title}</a></h1>
					{ draft && (<span class="px-1 py-0 bg-red-200 text-red-600 text-xs font-semibold">rascunho</span>)}
				</div>
				<span class="font-thin text-xs text-textColor flex gap-2 items-center">
					<FormattedDate date={pubDate} dateTimeOptions={dateTimeOptions}/>
					<span>
						/ {minutesRead}
					</span>
					{
						updatedDate && (
							<div class="italic px-2 bg-accent-2 w-fit text-xs font-normal">
								atualizado: <FormattedDate date={updatedDate} dateTimeOptions={dateTimeOptions} />
							</div>
						)
					}
				</span>
				{tags && (
					<ul class="not-prose flex gap-2 flex-wrap">
						<Icon class="w-5 h-5" name="ph:tag" aria-hidden="true" focusable="false"/>
						{tags.map((tag: string) => (
							<li class="tag">
								<a class="p-category" href={`/tags/${tag}`}>{tag}</a>
							</li>
						))}
					</ul>
				)}
			</header>
			<hr class="my-4"/>
			<main class="e-content prose-sm prose-headings:font-semibold prose-headings:ml-4 prose-headings:before:absolute prose-headings:before:-ms-4 prose-headings:before:text-accent prose-headings:before:content-['#'] prose-th:before:content-none prose-a:text-accent">
				<slot />	
			</main>
      <div class="flex flex-col place-items-center mt-5">
        <Icon class="h-5 w-5" name="mdi:gesture" />
    </div>
      <BackToTopBtn/>
		</article>
		<a rel="author" class="p-author h-card" href="https://blog.tiffs.dev" hidden="from-humans">Tiffany Rossi</a>

		{comments && comments.host && comments.id && (

  <section>
      <h4 class="title">comentários</h4>
      <Icon name="ph:envelope-simple" class="h-5 w-5 size-5 inline-block ps-1	"/> <a href=`mailto:oi@tiffs.dev?subject=RE: ${title}` class="cody-link text-sm">responda por e-mail</a>

      <p>você também pode usar sua conta no <Icon name="ph:mastodon-logo" class="h-5 w-5 size-5 inline-block ps-1	" /> <a href="https://joinmastodon.org"class="cody-link" target="_blank" rel="noopener noreferrer">mastodon</a> ou outra conta com <i>activitypub</i>. basta comentar <a class="cody-link" href=`https://${comments.host}/@${comments.username}/${comments.id}` target="_blank">neste post</a>, e seu comentário aparecerá abaixo.</p>
      <p id="mastodon-comments-list" class="mt-5">
        <button id="load-comment" class="cody-link"><Icon name="ph:chat-circle-dots-bold" class="h-5 w-5 size-5 inline-block ps-1	" /> carregar comentários do mastodon</button>
      </p>
      <noscript><p>você precisa permitir javascript para ver os comentários.</p></noscript>

      <script src="https://cdn.jsdelivr.net/npm/dompurify@2.3.4/dist/purify.min.js"></script>
      <script type="text/javascript" define:vars={{comments}}>
        const commentsData = {
          host: comments.host,
          id: comments.id
        };

    function escapeHtml(unsafe) {
      return unsafe
          .replace(/&/g, "&amp;")
          .replace(/</g, "&lt;")
          .replace(/>/g, "&gt;")
          .replace(/"/g, "&quot;")
          .replace(/'/g, "&#039;");
    }

    document.getElementById("load-comment").addEventListener("click", function() {
      document.getElementById("load-comment").innerHTML = "carregando...";
      fetch(`https://${commentsData.host}/api/v1/statuses/${commentsData.id}/context`)
        .then(function(response) {
          return response.json();
        })
        .then(function(data) {
          console.log(data);
          if (data['descendants'] && Array.isArray(data['descendants']) && data['descendants'].length > 0) {
            document.getElementById('mastodon-comments-list').innerHTML = "";
            data['descendants'].forEach(function(reply) {
              if (reply.account.display_name.length > 0) {
                reply.account.display_name = escapeHtml(reply.account.display_name);
                reply.account.emojis.forEach(emoji => {
                  reply.account.display_name = reply.account.display_name.replace(`:${emoji.shortcode}:`,
                    `<img src="${escapeHtml(emoji.static_url)}" alt="Emoji ${emoji.shortcode}" height="15" width="15" class="inline-block" />`);
                });
              } else {
                reply.account.display_name = reply.account.acct;
              }

              reply.emojis.forEach(emoji => {
                  reply.content = reply.content.replace(`:${ emoji.shortcode }:`,
                  `<img class="inline-block" src="${ escapeHtml(emoji.static_url) }" alt=":${ emoji.shortcode }:" title=":${ emoji.shortcode }:" width="20" height="20" />`);
                });

              const mastodonComment = `
                <article id="comment-${reply.id }" class="js-comment mb-2 p-2" itemprop="comment" itemscope itemtype="http://schema.org/Comment">
                     <div class="js-comment flex">
                       <div class="h-12 w-12 m-1 float-left order-first flex-none">
                         <img class="rounded-full" src="${escapeHtml(reply.account.avatar_static)}" height=60 width=60  alt="">
                       </div>
                       <div class="m-2">
                        <h4 itemprop="author" itemscope itemtype="http://schema.org/Person">
                          <a rel="external nofollow" itemprop="url" class="cody-link" href="${reply.account.url}" rel="nofollow">
                            <span>${reply.account.display_name}</span>
                          </a> | <a itemprop= "url" href="${reply.uri}" rel="nofollow" class="cody-link">${reply.created_at.substr(0, 10)}</a>

                        </h4>
                        <div itemprop="text" class="">${reply.content}</div>
                        <div>
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 size-5 inline-block ps-1" viewBox="0 0 256 256"><path fill="currentColor" d="M236 200a12 12 0 0 1-24 0a84.09 84.09 0 0 0-84-84H61l27.52 27.51a12 12 0 0 1-17 17l-48-48a12 12 0 0 1 0-17l48-48a12 12 0 0 1 17 17L61 92h67a108.12 108.12 0 0 1 108 108"/></svg>
                          ${reply.replies_count}&nbsp;|&nbsp; 
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 size-5 inline-block ps-1" viewBox="0 0 256 256"><path fill="currentColor" d="M20 128a76.08 76.08 0 0 1 76-76h99l-3.52-3.51a12 12 0 1 1 17-17l24 24a12 12 0 0 1 0 17l-24 24a12 12 0 0 1-17-17L195 76H96a52.06 52.06 0 0 0-52 52a12 12 0 0 1-24 0m204-12a12 12 0 0 0-12 12a52.06 52.06 0 0 1-52 52H61l3.52-3.51a12 12 0 1 0-17-17l-24 24a12 12 0 0 0 0 17l24 24a12 12 0 1 0 17-17L61 204h99a76.08 76.08 0 0 0 76-76a12 12 0 0 0-12-12"/></svg>
                          ${reply.reblogs_count}&nbsp;|&nbsp;
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 size-5 inline-block ps-1" viewBox="0 0 256 256"><path fill="currentColor" d="M178 36c-20.09 0-37.92 7.93-50 21.56C115.92 43.93 98.09 36 78 36a66.08 66.08 0 0 0-66 66c0 72.34 105.81 130.14 110.31 132.57a12 12 0 0 0 11.38 0C138.19 232.14 244 174.34 244 102a66.08 66.08 0 0 0-66-66m-5.49 142.36a328.7 328.7 0 0 1-44.51 31.8a328.7 328.7 0 0 1-44.51-31.8C61.82 159.77 36 131.42 36 102a42 42 0 0 1 42-42c17.8 0 32.7 9.4 38.89 24.54a12 12 0 0 0 22.22 0C145.3 69.4 160.2 60 178 60a42 42 0 0 1 42 42c0 29.42-25.82 57.77-47.49 76.36"/></svg>
                          ${reply.favourites_count}
                        </div> 
                       </div>
                      </div>
                      <hr />
                    </article>`;
              
              if (typeof window !== 'undefined') {
                document.getElementById('mastodon-comments-list').appendChild(
                  DOMPurify.sanitize(mastodonComment, { 'RETURN_DOM_FRAGMENT': true })
                );
              }
            });
          } else {
            document.getElementById('mastodon-comments-list').innerHTML = "<p>nenhum comentário (ainda! que tal ser a primeira pessoa a comentar?)</p>";
          }
        });
    });
  </script>

    </section>
      )
      
      }

	</div>
</Layout>

<CopyBtn/>
